.cards-container {
  width: fit-content;
  display: grid;
  grid-template-columns: repeat(3, 325px);
  grid-template-rows: repeat(4, 107.5px);
  justify-content: right;
  grid-template-areas:
    ". team-builder ."
    " supervisor team-builder calculator"
    "supervisor karma calculator"
    ". karma .";
  gap: 20px;
}
.supervisor {
  grid-area: supervisor;
}
.team-builder {
  grid-area: team-builder;
}
.karma {
  grid-area: karma;
}
.calculator {
  grid-area: calculator;
}
