:root {
  /*Primary*/
  --Red: hsl(0, 78%, 62%);
  --Cyan: hsl(180, 62%, 55%);
  --Orange: hsl(34, 97%, 64%);
  --Blue: hsl(212, 86%, 64%);

  /*Neutral*/
  --Very-dark-blue: hsl(234, 12%, 34%);
  --Grayish-blue: hsl(229, 6%, 66%);

  /*Font family*/
  --poppins: "Poppins", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
main {
  width: 100%;
}
.hero-content {
  width: 85%;
  margin: 60px auto;
  text-align: center;
  font-family: var(--poppins);
}
.hero-content h1 {
  font-size: 2.3rem;
  font-weight: 200;
  color: var(--Grayish-blue);
}
.hero-content h2 {
  padding-bottom: 1.3rem;
  font-size: 2.3rem;
  color: var(--Very-dark-blue);
}
.hero-content p {
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: var(--Grayish-blue);
}
.attribution {
  display: none;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
